services:
  app:
    container_name: job_portal
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: mysql://root:password@mysql:3306/jobportal
    depends_on:
      - mysql

  mysql:
    container_name: mysql
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: jobportal
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
